html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; 
  font-family: font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 1.125em;
  line-height: 0.750em;
  text-align: center;
  background-color: black;
  color: white;
}

h1 {
	font-size: 1.500em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 2.25em;
	margin-bottom: 2.25em;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
}

h4 {
	font-size: 1.5em;
	font-weight: bold;
}

#about {
	position:relative;
	padding-top: 1.500em;
	padding-bottom: 1.500em;
	padding-left: 3em;
	padding-right: 3em;
}

