html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; 
  line-height: 1em;
  font-size: 1.5em;
  padding-bottom:0em;
  background-color: #707070;
}

body {
  margin:0;
  padding:0;
  border-radius: 1em;
  border-style: solid;
}

footer {
  padding-top: .25em;
  padding-bottom: .25em;
  background-color: black;
  color: grey;
  display: block;
  height: 1em;
  width: 100%;
  clear:both;
  bottom: 0;
  position: fixed;
  text-align: center;
}

h1 {
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 4em;
  padding-bottom: 2em;
  text-align: left;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 0.5em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
  padding-left: 0.25em;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
  text-transform: capitalize;
  padding-left: 0.35em;
  padding-top: 0.5em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

#sideContent {
  float: left;
  width: 15%;
  position: fixed;
  padding-top: 10em;
  border-style: solid;
  border-radius: 3em;
}

a {
  display: block;
  text-transform: uppercase;
  color: black;
}

a:hover {
    color: white;
}

nav {
  text-align: right;
  line-height: 1.5em;
}

article {
  float: left;
  width: 50%;
  padding-left: 35%;
  border-style: dotted;
  border-radius: 3em;
}

#hola {
  font-size: 1em;
  text-transform: capitalize;
}

p {
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.25em;
  padding-left: 1em;
}

#header {
  padding-top: 5em;
  padding-bottom: 3em;
}

#about {
  position:relative;
  padding-bottom: 2em;
  text-align: left;
}

#education {
  padding-bottom: 2em;
  position:relative;
  text-align: left;
}

#experience {
  padding-bottom: 2em;
  position:relative;
  text-align: left;
}

#skills {
  padding-bottom: 2em;
  position:relative;
  text-align: left;
}

#contact {
  padding-bottom: 2em;
  position:relative;
  text-align: left;
}

ul {
  padding-bottom: 1em;
  padding-top: 0.75em;
  padding-left: 1.5em;
}

li{
  line-height: 1em;
  padding-top: 0.25em;
  list-style-type: square;
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2.5em;
    padding-bottom: 0.5em;
    text-align: center;
  }
  
  h2 {
    font-size: 1.25em;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 0.5em;
  }
  
  h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 0.25em;
  }
  
  h4 {
    font-size: 0.75em;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 0.35em;
    padding-top: 0.5em;
  }
  
  h5 {
    font-size: 0.5em;
    font-weight: bold;
  }
  
  h6 {
    font-size: 0.5em;
    font-weight: bold;
  }
  
  #sideContent {
    width: 100%%;
    padding-top: 0;
    border-style: solid;
    border-radius: 3em;
  }
  
  a {
    text-transform: uppercase;
    color: blue;
    display: inline;
  }
  
  nav {
    text-align: left;
  }
  
  article {
    width: 100%;
    padding-left: 1%;
    border-style: solid;
    border-radius: 3em;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px ) {
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2.5em;
    padding-bottom: 0.5em;
    text-align: center;
  }
  
  h2 {
    font-size: 1.25em;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 0.5em;
  }
  
  h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 0.25em;
  }
  
  h4 {
    font-size: 0.75em;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 0.35em;
    padding-top: 0.5em;
  }
  
  h5 {
    font-size: 0.5em;
    font-weight: bold;
  }
  
  h6 {
    font-size: 0.5em;
    font-weight: bold;
  }
  
  #sideContent {
    width: 100%%;
    padding-top: 0;
    border-style: solid;
    border-radius: 3em;
  }
  
  a {
    text-transform: uppercase;
    color: red;
    display: inline;
    font-size: 0.75em;
  }
 
  nav {
    text-align: left;
  }
  
  article {
    width: 100%;
    padding-left: 1%;
    border-style: dotted;
    border-radius: 3em;
  }
}

@media screen and (min-width: 421px) and (max-width: 768px) {
  h1 {
    font-size: 1.75em;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2.5em;
    padding-bottom: 0.5em;
    text-align: center;
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 0.5em;
  }
  
  h3 {
    font-size: 1.25em;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 0.25em;
  }
  
  h4 {
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 0.35em;
    padding-top: 0.5em;
  }
  
  h5 {
    font-size: 0.75em;
    font-weight: bold;
  }
  
  h6 {
    font-size: 0.75em;
    font-weight: bold;
  }
  
  #sideContent {
    width: 100%;
    padding-top: 0em;
    border-style: solid;
    border-radius: 3em;
  }
  
  a {
    display: inline;
    text-transform: uppercase;
    color: purple;
    font-size: 1em;
  }
  
  nav {
    text-align: left;
  }
  
  article {
    width: 100%;
    padding-left: 1%;
    border-style: solid;
    border-radius: 3em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 1.75em;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2.5em;
    padding-bottom: 0.5em;
    text-align: center;
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 0.5em;
  }
  
  h3 {
    font-size: 1.25em;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 0.25em;
  }
  
  h4 {
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 0.35em;
    padding-top: 0.5em;
  }
  
  h5 {
    font-size: 0.75em;
    font-weight: bold;
  }
  
  h6 {
    font-size: 0.75em;
    font-weight: bold;
  }
  
  #sideContent {
    width: 100%;
    padding-top: 0em;
    border-style: solid;
    border-radius: 3em;
  }
  
  a {
    display: inline;
    text-transform: uppercase;
    color: purple;
    font-size: 1em;
  }
  
  nav {
    text-align: center;
  }
  
  article {
    width: 100%;
    padding-left: 3%;
    border-style: solid;
    border-radius: 3em;
  }
  p {
    padding-left: 0.5em;
  }
}

