html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; 
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 1.125em;
  line-height: 1em;
  text-align: center;
  background-color: black;
  color: white;
  position:relative;
  padding-bottom:0em;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 2.25em;
	margin-top: 2.25em;
	padding-top: 3em;
	padding-bottom: 2em;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0.5em;
	padding-bottom: 0.2em;
}

h5 {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 0.75em;
}

h6 {
	font-size: 1em;
	font-weight: bold;
	padding-bottom: 0.4em;
	padding-top: 0.6em;
}

p {
	position: relative;
	padding-top: 1em;
	padding-bottom: 0.75em;
	line-height: 1.2em;
}

#sideContent {
	float: left;
	width: 20%;
}

nav a {
	display: block;
}

#content {
	float: left;
	width: 80%;
}
#about {
	position:relative;
	padding-top: 1.5em;
	padding-bottom: 2em;
	
  background-color: #080808  ;
}

#education {
	padding-bottom: 2.5em;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-color: #101010;
}

#experience {
	background-color: #181818;
	padding-top: 1.5em;
	padding-bottom: 2em;
}

#experience p {
	padding-left: 7em;
  padding-right: 7em;
  padding-top: 1em;
}

#skills {
	background-color: #202020;
	padding-top: 1.5em;
	padding-bottom: 2em;
}

#skills p {
	padding-left: 7em;
  padding-right: 7em;
  padding-top: 1em;
	
}

#contact {
  padding-top: 1.5em;
	padding-bottom: 1em;
	background-color: #282828;
}

#footer {
	padding-left: 7em;
  padding-right: 7em;
  padding-top: 2em;
	padding-bottom: 2.5em;
	background-color: #303030;
	display: block;
}

li {
	line-height: 1em;
	padding-bottom: 0.5em;
}

@media screen and (min-width: 20em) {
  p {
    padding-left: 3em;
    padding-right: 3em;
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
  	line-height: 1.5em;
  }
}

@media screen and (min-width: 50em) {
  p {
    padding-left: 7em;
    padding-right: 7em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 80em) {
  p {
    padding-left: 10em;
    padding-right: 10em;
    margin-left: auto;
    margin-right: auto;
  }
}
