html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; 
  line-height: 1em;
  font-size: 1.5em;
  padding-bottom:0em;
  background-color: #404040;
}

body {
  margin:0;
  padding:0;
  border-radius: 1em;
  border-style: solid;
}

footer {
  padding-top: .25em;
  padding-bottom: .25em;
  background-color: black;
  color: grey;
  display: block;
  height: 1em;
  width: 100%;
  clear:both;
  bottom: 0;
  position: fixed;
  text-align: center;
}

h1 {
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
  text-transform: capitalize;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

#sideContent {
  float: left;
  width: 15%;
  position: fixed;
  padding-top: 10em;
  border-style: solid;
  border-radius: 3em;
}

a {
  display: block;
  padding-left: 5em;
  text-transform: uppercase;
  line-height: 1.5em;
  color: black;
}

a:hover {
    color: white;
}

nav {
  text-align: right;
}

article {
  float: left;
  width: 50%;
  padding-left: 35%;
  border-style: dotted;
  border-radius: 3em;
}

#hola {
  font-size: 1em;
  text-transform: capitalize;
}

p {
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.25em;
}

#header {
  padding-top: 5em;
  padding-bottom: 3em;
}

#about {
  position:relative;
  padding-bottom: 2em;
  text-align: left;
}

#education {
  padding-bottom: 2em;
  position:relative;
  text-align: left;
}

#experience {
  padding-bottom: 2em;
  position:relative;
  text-align: left;
}

#skills {
  padding-bottom: 2em;
  position:relative;
  text-align: left;
}

#contact {
  padding-bottom: 2em;
  position:relative;
  text-align: left;
}

ul {
  padding-bottom: 1em;
  padding-top: 0.75em;
}

li{
  line-height: 1em;
  padding-top: 0.25em;
  list-style-type: square;
}