html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; 
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 1.125em;
  line-height: 1em;
  text-align: center;
  color: white;
  position:relative;
  padding-bottom:0em;
  background-color: black;
  height: 100%
}
body {
	margin:0;
	padding:0;
	height:100%;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 5em;
	padding-bottom: 2em;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	text-transform: capitalize;
	padding-bottom: 2em;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: 0.5em;
	padding-bottom: 0.2em;
}

h5 {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 0.75em;
}

h6 {
	font-size: 1em;
	font-weight: bold;
	padding-bottom: 0.4em;
	padding-top: 0.6em;
}

p {
	position: relative;
	padding-top: 1em;
	padding-bottom: 0.75em;
	line-height: 1.2em;
}

#sideContent {
	float: left;
	width: 10%;
	padding-top: 17em;
	position: fixed;
}

 a {
	display: block;
	color: white;
}

article {
	float: left;
	width: 80%;
	background-color: black;
	padding-left: 10em;
	text-align: center;
}
#about {
	position:relative;
	padding-top: 1.5em;
	padding-bottom: 2em;
}

#education {
	padding-bottom: 2.5em;
	padding-top: 1.5em;
	padding-bottom: 2em;
}

#experience {
	padding-top: 1.5em;
	padding-bottom: 2em;
}

#experience p {
	position:relative;
  padding-top: 1em;
}

#skills {
	padding-top: 1.5em;
	padding-bottom: 2em;
}

#skills p {
	position:relative;
  padding-top: 1em;
	
}

#contact {
  padding-top: 1.5em;
	padding-bottom: 1em;
}

footer {
  padding-top: .2em;
	padding-bottom: .25em;
	background-color: grey;
	display: block;
	height: 1em;
	width: 100%;
	clear:both;
	bottom: 0;
	position: fixed;
	text-align: center;
}

li {
	line-height: 1em;
	padding-bottom: 0.5em;
}

@media screen and (min-width: 20em) {
  p {
    padding-left: 3em;
    padding-right: 3em;
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
  	line-height: 1.5em;
  }
}

@media screen and (min-width: 50em) {
  p {
    padding-left: 7em;
    padding-right: 7em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 80em) {
  p {
    padding-left: 10em;
    padding-right: 10em;
    margin-left: auto;
    margin-right: auto;
  }
}
